.admin-page .capture-form {
    margin-bottom:13px;
}

.admin-page .capture-form label{
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 7px;
}
.coupon-code .my-control {
    margin-bottom: 13px;
}

.coupon-code .my-control label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 7px;
}
.coupons-container {
    list-style: none;
}